<div class="jumbotron container my-4">
	<div class="card text-center">
	  <div class="card-header">
	    Equipo 5 "Analisis y Diseño orienado a Objetos"
	  </div>
	  <div class="card-body">
	  	<img src="/images/do.jpg" class="rounded mx-auto d-block" style="width: 200px;height: 200px;">
	    <h5 class="card-title">Integrantes</h5>
	    <p class="card-text">Castro Rangel Gerardo</p>
	    <p class="card-text">López López Oscar Manuel </p>
	    <p class="card-text">Montesinos Pérez Reyna Isabel</p>
	    <p class="card-text">Sarmiento Gutiérrez Juan Carlos</p>
	    <a href="/docs" class="btn btn-success">Documentacion</a>
	  </div>
	  <div class="card-footer text-muted">
	    The Black Cross Project 2021
	  </div>
	</div>
</div>